[submodule "Assignment_1"]
	path = Assignment_1
	url = https://github.com/NYUGeometricModeling/GM_Assignment_1
    branch = master
[submodule "Assignment_2"]
	path = Assignment_2
	url = https://github.com/NYUGeometricModeling/GM_Assignment_2
	branch = master
[submodule "Assignment_3"]
	path = Assignment_3
	url = https://github.com/NYUGeometricModeling/GM_Assignment_3
	branch = master
[submodule "Assignment_4"]
	path = Assignment_4
	url = https://github.com/NYUGeometricModeling/GM_Assignment_4
	branch = master
[submodule "Assignment_5"]
	path = Assignment_5
	url = https://github.com/NYUGeometricModeling/GM_Assignment_5
    branch = master
[submodule "Final_Project"]
	path = Final_Project
	url = https://github.com/NYUGeometricModeling/GM_Final_Project.git
	branch = master
